@model Flowbandit.Models.VideosVM


@{
    ViewBag.Title = "Video";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section AdditionalScripts
{
    <script src="~/Content/js/FlowJS/InfiniteScroll.js"></script>
    <script src="~/Content/js/FlowJS/videos.js"></script>
}

<input type="hidden" id="get-video-url" value="@Url.Action("GetVideos")">
<input type="hidden" id="total-pages" value="@Model.TotalPages">
<input type="hidden" id="videoPageNumber" value="1">
    <header class="jumbotron hero-spacer">
        <h1>Featured Video's</h1>
        <p>Check out the new video's on Flowbandit, Don't enjoy yourself too much.</p>
    </header>
    <hr>
    <!-- Title -->
    
    <!-- /.row -->
    <!-- Page Features -->
<div id="videocontent">
    @Html.Partial("_VideosContent", Model)
</div>