@model Flowbandit.Models.VideosVM


@{
    ViewBag.Title = "Video";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section AdditionalScripts
{
    <script src="~/Content/js/FlowJS/InfiniteScroll.js"></script>
    <script>
        $(function () {

            $('#videoPageNumber').val(1);

            var setVideoElements = function () { setElementsHeight('.videothumbnail'); };

            //loads when the window loads body load doesn't fire for some reason
            $(window).load(function () {
                setVideoElements();
            });

            //Loads after infinite scroll fires
            $('body').on('load', setVideoElements);

            $(window).resize(function () {
                clearHeight('.videothumbnail');
                setVideoElements();
            });

            var postInfiniteScrollParams = {
                url: '@Url.Action("GetVideos")',
                contentDivSelector: '#videocontent',
                pageNumberSelector: '#videoPageNumber',
                totalNumberOfPages: '@Model.TotalPages',
                postCallBack: setVideoElements
            }

            scrollListener(postInfiniteScrollParams)
        });
    </script>
}

<input type="hidden" id="videoPageNumber" value="1">
    <header class="jumbotron hero-spacer">
        <h1>Featured Video's</h1>
        <p>Check out the new video's on Flowbandit, Don't enjoy yourself too much.</p>
    </header>
    <hr>
    <!-- Title -->
    
    <!-- /.row -->
    <!-- Page Features -->
<div id="videocontent">
    @Html.Partial("_VideosContent", Model)
</div>