@using Flowbandit.Models;
@using FlowService.DTOs.Posts;

@model PostsDTO

@{
    ViewBag.Title = "Post";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section AdditionalScripts
{
    <script src="~/Content/js/FlowJS/InfiniteScroll.js"></script>
    <script src="~/Content/js/FlowJS/posts.js"></script>
}

<input type="hidden" id="get-posts-url" value="@Url.Action("GetPosts")">
<input type="hidden" id="total-pages" value="@Model.TotalPages">
<input type="hidden" id="postPageNumber" value="1">

<div class="row">
    <!-- Blog Entries Column -->
    <div class="col-md-12">
        <h1 class="page-header">
            Thought's
            <small>Can Flow Too.</small>
        </h1>
        <!-- First Blog Post -->
        <div id="postcontent">
            @Html.Partial("_PostsContent", Model)
        </div>
    </div>
</div>
<!-- /.row -->