@using Flowbandit.Models;

@model AllPostsVM


@{
    ViewBag.Title = "Post";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section AdditionalScripts
{

    <script src="~/Content/js/FlowJS/InfiniteScroll.js"></script>
    <script>

    $(function () {
        $('#postPageNumber').val(1);

        var postInfiniteScrollParams = {
            url: '@Url.Action("GetPosts")',
                contentDivSelector: '#postcontent',
                pageNumberSelector: '#postPageNumber',
                totalNumberOfPages: '@Model.TotalPages'
        }

        scrollListener(postInfiniteScrollParams)
    });
</script>
}

<input type="hidden" id="postPageNumber" value="1">

<div class="row">
    <!-- Blog Entries Column -->
    <div class="col-md-12">
        <h1 class="page-header">
            Thought's
            <small>Can Flow Too.</small>
        </h1>
        <!-- First Blog Post -->
        <div id="postcontent">
            @Html.Partial("_PostsContent", Model)
        </div>
    </div>
</div>
<!-- /.row -->