@using Flowbandit.Models;

@{
    ViewBag.Title = "NewPost";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section AdditionalScripts
{
    <script src="~/Scripts/tinymce/tinymce.js"></script>
    <script src="~/Content/js/FlowJS/Flowglobals.js"></script>
    <script src="~/Content/js/FlowJS/editPost.js"></script>

    <link rel="stylesheet" href="~/Content/css/FlowCss/bootstrap-jQuery-autocomplete.css">
}

<div class="row">
    <div class="hidden"></div>
    <div class="col-lg-12">
        @Html.Partial("_updatePost", new PostVM())
    </div>
</div>
