<div id="chatbox" class="chatwidget">
    <div id="friendslist">
        <div id="topmenu">
            <span title="Contact Friends" class="friends">
                <i class="material-icons md-dark">contact_mail</i>
            </span>
            <span title="Unread Messages" class="chats">
                <i class="material-icons md-dark">markunread</i>
                <div id="unread-messages" class="button_badge">0</div>
            </span>
            <span title="Messages" class="history"><i class="material-icons md-dark">message</i></span>
        </div>

        <div id="friends" class="hidden">

            <div id="search">
                <input type="text" id="searchfield" placeholder="Search contacts..." />
            </div>

        </div>

        <div id="chats">
            <div class="friend">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/1_copy.jpg" />
                <p>
                    <strong class="senderName">
                        Miro Badev
                        <span class="pull-right text-muted">
                            <em class="moment">Yesterday</em>
                        </span>
                    </strong>
                </p>
                <p class="inbox-message">mirobadev@gmail.com</p>

                <div class="status available"></div>
            </div>
        </div>

        <div id="templates" class="hidden">
            <div id="inboxTemplate">
                <div class="friend">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/1_copy.jpg" />
                    <p>
                        <strong class="senderName">Miro Badev</strong>
                        <span class="pull-right text-muted">
                            <em class="moment">Yesterday</em>
                        </span>
                    </p>
                    <p class="inbox-message">mirobadev@gmail.com</p>
                    <div class="status available"></div>
                </div>
            </div>

            @* Status's inactive, away, available *@
            <div id="friendTemplate" class="friend">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/3_copy.jpg" />
                <p>
                    <strong class="friendName">Tomas Kennedy</strong>
                    <div>tomaskennedy@gmail.com</div>
                </p>
                <div class="status"></div>
            </div>

            <div id="conversationMessageTemplate" class="message">
                <img class="user-thumbnail" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/1_copy.jpg" />
                <div class="bubble">
                    Really cool stuff!
                    <div class="corner"></div>
                    <span class="moment">3 min</span>
                </div>
            </div>
        </div>

    </div>

    <div id="chatview" class="p1">
        <div id="profile">

            <div id="close">
                <div class="cy"></div>
                <div class="cx"></div>
            </div>

            <p id="friendUsername">Miro Badev</p>
            <span>miro@badev@gmail.com</span>
        </div>
        <div id="chat-messages">

        </div>

        <div id="sendmessage">
            <input type="text" placeholder="Send message..." />
            <button></button>
        </div>

    </div>
</div>	