@model IEnumerable<FlowRepository.Tag>

<div class="form-group">
    <div class="ui-widget">
        <label>Tags</label>
        <input class="form-control append-bottom" id="tagsac" placeholder="Tag Your Post">
    </div>
    <table class="table table-bordered table-condensed">
        <tbody id="suggestedtags">
            <tr>
                <th>Tags</th>
            </tr>
            <tr>
                <td>
                    <span id="tagtemplate" class="label bg-light-blue suggesttag hidden">Juggling<a class="closetag" href="#">&nbsp;<i class="fa fa-times white"></i></a></span>
                    @foreach (var tag in Model)
                    {
                        <span data-tagval="@tag.ID" class="label bg-light-blue suggesttag">@tag.Name<a class="closetag" href="#">&nbsp;<i class="fa fa-times white"></i></a></span>
                    }
                </td>
            </tr>
        </tbody>
    </table>

</div>

